code {
	font-family: monospace;
	background-color:  #D0D0D0;
}

body {
	display: flex;
	flex-direction: row;
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
}

#navbar {
	height: 100%;
	width: 300px;
	border-right: 2px solid gray;
	position: fixed;
	top: 0px;
	left: 0px;

}

#main-doc {
	width: 1050px;
	position: absolute;
	right: 30px;
	top: 20px;

}

#navbar h2 {
	text-align: center;
	font-size: 1.8em;
}

#navbar ul{
	list-style-type: none;
	padding-left: 0;
}

#navbar li{
	padding: 10px 0 10px 30px;
	border-top: 1px solid gray;
}

#navbar a {
	text-decoration: none;
	color: #4d4e53;
}

header h2 {
	font-size: 1.8em;
}



